@import "tippy.js/dist/tippy.css";
@import "tippy.js/dist/svg-arrow.css";
@import "tippy.js/animations/shift-away.css";

.tippy-box {
  background-color: hsl(var(--theme-color-neutral));
  color: hsl(var(--theme-color-neutral-content));
  font-size: 0.75rem;
  line-height: 1rem;
}

.tippy-svg-arrow svg {
  fill: currentColor;
  color: hsl(var(--theme-color-neutral));
  filter: drop-shadow(0 4px 6px rgb(0 0 0 / 0.1));
}

.tippy-box[data-theme~="content"] .tippy-content {
  padding: 0;
}

.tippy-box[data-theme~="primary"] {
  background-color: hsl(var(--theme-color-primary));
  color: hsl(var(--theme-color-primary-content));
}

.tippy-box[data-theme~="primary"] > .tippy-svg-arrow svg {
  color: hsl(var(--theme-color-primary));
}

.tippy-box[data-theme~="secondary"] {
  background-color: hsl(var(--theme-color-secondary));
  color: hsl(var(--theme-color-secondary-content));
}

.tippy-box[data-theme~="secondary"] > .tippy-svg-arrow svg {
  color: hsl(var(--theme-color-secondary));
}

.tippy-box[data-theme~="info"] {
  background-color: hsl(var(--theme-color-info));
  color: hsl(var(--theme-color-info-content));
}

.tippy-box[data-theme~="info"] > .tippy-svg-arrow svg {
  color: hsl(var(--theme-color-info));
}

.tippy-box[data-theme~="success"] {
  background-color: hsl(var(--theme-color-success));
  color: hsl(var(--theme-color-success-content));
}

.tippy-box[data-theme~="success"] > .tippy-svg-arrow svg {
  color: hsl(var(--theme-color-success));
}

.tippy-box[data-theme~="warning"] {
  background-color: hsl(var(--theme-color-warning));
  color: hsl(var(--theme-color-warning-content));
}

.tippy-box[data-theme~="warning"] > .tippy-svg-arrow svg {
  color: hsl(var(--theme-color-warning));
}

.tippy-box[data-theme~="error"] {
  background-color: hsl(var(--theme-color-error));
  color: hsl(var(--theme-color-error-content));
}

.tippy-box[data-theme~="error"] > .tippy-svg-arrow svg {
  color: hsl(var(--theme-color-error));
}

.tippy-box[data-theme~="light"] {
  background-color: hsl(var(--theme-color-base-200));
  color: hsl(var(--theme-color-base-content));
}

.tippy-box[data-theme~="light"] > .tippy-svg-arrow svg {
  color: hsl(var(--theme-color-base-200));
}

.tippy-box[data-theme~="white"] {
  background-color: hsl(var(--theme-color-base-100));
  border: 1px solid hsl(var(--theme-color-base-300));
  color: hsl(var(--theme-color-base-content));
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.tippy-box[data-theme~="transparent"] {
  background-color: transparent;
}
